.navBar {
  height: 82px;
  width: 100%;
  padding: 0 62px;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  display: flex;
  z-index: 1;
  background-color: #fff;
}

.logo img {
  width: 160px;
  font-weight: 500;
}
.navLinks {
  display: flex;
  align-items: center;
}
.navLinks .navLink {
  color: #000;
  list-style-type: none;
  margin-left: 20px;
}
.menu {
  display: none;
}
.Home-button {
  width: 176px;
  height: 48px;
  border-radius: 8px;
  background: #ff5766;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  margin-left: 50px;
  line-height: 26px;
  letter-spacing: -0.64px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: 0.5s;
}

.Home-button:hover {
  background-color: #ff818c;
  box-shadow: 0px 15px 20px #ff4252;
  color: #fff;
  transform: translateY(-7px);
}

.Home-button:active {
  transform: translateY(-1px);
}
@media (max-width: 845px) {
  .navBar {
    height: 82px;
    width: 100%;
    padding: 0 30px;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    display: flex;
    z-index: 1;
  }
  .menu {
    display: block;
    font-size: 25px;
    z-index: 1;
  }
  .navLinks {
    transform: translateX(0);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 30px;
    left: 0px;
    background-color: #fff;
    border-radius: 0 0 12px 12px;
    padding: 20px;
    width: 200px;
    transition: transform 0.3s ease;
  }

  .navLinks.open {
    transform: translateX(-100%);
  }

  .navLinks.closed {
    transform: translateX(-100%);
  }
  .navLink {
    text-align: center;
    margin: 7px;
  }
}
